<style>{{mensagem2}}</style>
<h1 style="text-align: center;">YourModus Blog</h1>
<h2 style="text-align: center;">Encontre vários posts aqui</h2>
    <form class="blogform" action="/blog/adicionar" method="POST">
    <h1 style="color: lightcoral;">Adicione um post</h1>
    <h2 style="color: lightcoral"> Diga-nos sua opinião sobre o tema da moda ou a respeito do site</h2>
    <input type="text" name="titulo_postagem" placeholder="Título">
    <br><br>
    <textarea id="text"name="descricao_postagem" placeholder="Escreva"></textarea>
    <br><br>
    <button type="submit">Adicionar</button>
    <a style="background-color: lightpink; float: right"href="/blog">Blog</a>
    <a style="float: right;" href="/meusposts">Meus Posts</a>
    <p class="mensagem">{{mensagemblog}}</p>
    </form>
{{#each dados}}
<div class="box">
<h1>{{titulo_postagem}}</h1>
<p>{{descricao_postagem}}</p>
<p class="autor">{{autor_postagem}}</p>
<p class="autor">{{data_postagem}}</p>
<p class="autor">{{edicao_postagem}}</p>
</div>
{{/each}}